---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <h2>Recent Posts</h2>
  <ul class="posts">
    {% for post in site.posts limit:3 %}
      {% if post.id != page.id %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% capture post_url %}{{ page.url | prepend:'http://www.reviewgang.com/blog' | append:'/' }}{% endcapture %}
<div class="fb-comments" data-href="{{post_url}}" data-num-posts="10" data-width="550"></div>

